<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="{{description}}"/>
  <script src="/scripts/aem.js" type="module"></script>
  <script src="/scripts/scripts.js" type="module"></script>
  <link rel="stylesheet" href="/styles/styles.css"/>
</head>
<body>
  <header></header>
  <main>
    <div>
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    </div>
    <div>
      <div class="product-details">
        <div>
          <div>detail</div>
        </div>
        <div>
          <div>{{id}}</div>
          <div>{{title}}</div>
          <div>{{description}}</div>
        </div>
        <div>
          <div>{{price}}</div>
          <div>{{discountPercentage}}</div>
          <div>{{rating}}</div>
        </div>
        <div>
          <div>{{brand}}</div>
          <div>{{category}}</div>
          <div>{{availabilityStatus}}</div>
        </div>
        <div>
          <div>{{sku}}</div>
          <div>{{stock}}</div>
          <div>{{warrantyInformation}}</div>
        </div>
        <div>
          <div>{{shippingInformation}}</div>
          <div>{{thumbnail}}</div>
          <div>{{returnPolicy}}</div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>
