<html>
<head>
  <title>Blogs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script src="/scripts/aem.js" type="module"></script>
  <script src="/scripts/scripts.js" type="module"></script>
  <link rel="stylesheet" href="/styles/styles.css"/>
</head>
<body>
  <header></header>
  <main>
    <div>
      <h1>Blogs</h1>
      <div class="blogs">
        <div>
          <div>list</div>
        </div>
        {{#blogs}}
        <div>
          <div>{{slug}}</div>
          <div>{{title}}</div>
          <div>{{{description}}}</div>
          <div><img src="{{image}}" alt="{{title}}"/></div>
        </div>
        {{/blogs}}
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>
